<%- include('../front/header.ejs') %>

<section class="blog-list mtb-40">
    <div class="container">
      <!-- <h1>Blogs</h1> -->
      <div class="row">
      <% blogL.forEach((blogList)=>{ %>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="<%= blogList.image.url %>" height="200" width="100%" alt="blog1" />
            <h3><%= blogList.title %></h3>
            <p><%= blogList.createdAt.toLocaleDateString() %></p>
            <p><%= blogList.description.slice(0,90) %></p>
            <a href="/blogdetail/<%= blogList._id %>" class="btn btn-danger">Read more...</a>
          </div>
        </div>
      <% }) %>
      </div>
    </div>
  </section>

<%- include('../front/footer.ejs') %>